.accent-text__word {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
}

.accent-text__word > span {
  transform: translate3d(0, 1em, 0);
  display: inline-block;
  vertical-align: sub;
}

.screen.active .accent-text.active .accent-text__word > span {
  transform: translate3d(0, 0, 0);
}