.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .img-flamingo {
    max-width: 328px;
    height: auto;
    left: calc(50% - 305px);
    bottom: -265px;
    opacity: 0;
    z-index: 10;
    transition: opacity 1.5s ease 0.3s,
      bottom 1s cubic-bezier(0.46, 0.76, 0.68, 1.3) 0.3s;

    @media (max-width: 768px) and (orientation: portrait) {
      display: none;
    }
  }

  .img-leafblue1 {
    max-width: 356px;
    height: auto;
    left: calc(50% + 1px);
    bottom: 28%;
    z-index: 6;

    @media (max-width: 768px) and (orientation: portrait) {
      display: none;
    }
  }

  .img-leafblue2 {
    max-width: 356px;
    height: auto;
    left: calc(50% - 442px);
    bottom: 17%;
    z-index: 7;

    @media (max-width: 768px) and (orientation: portrait) {
      display: none;
    }
  }

  .img-leafgreen {
    max-width: 380px;
    height: auto;
    left: calc(50% - 27px);
    bottom: 24%;
    z-index: 8;

    @media (max-width: 768px) and (orientation: portrait) {
      display: none;
    }
  }

  .img-suitcase {
    opacity: 0;
    max-width: 439px;
    height: auto;
    left: calc(50% - 264px);
    z-index: 9;
    transform: scale(0.1);
    bottom: -264px;
    transition: opacity 0.5s ease,
      bottom 1s cubic-bezier(0.46, 0.76, 0.68, 1.3) 0.3s,
      transform 1.2s ease 0.3s;

    @media (max-width: 768px) and (orientation: portrait) {
      display: none;
    }
  }

  .img-mob {
    display: none;

    @media (max-width: 768px) and (orientation: portrait) {
      display: block;
    }
  }
}

.screen.screen--show .result__image {
  .img-suitcase {
    opacity: 1;
    transform: scale(1);
    bottom: 17%;
  }
  .img-leafblue1 {
    animation: showLeafBlue1 2s ease-out 0.3s backwards;
  }
  .img-leafblue2 {
    animation: showLeafBlue2 2s ease-out 0.3s backwards;
  }
  .img-leafgreen {
    animation: showLeafGreen 2s ease-out 0.3s backwards;
  }
  .img-flamingo {
    opacity: 1;
    bottom: 18%;
    animation: showFlamingo 3s linear 1s backwards infinite;
  }
}

@keyframes showFlamingo {
  0% {
    transform: rotate(0) translate(0, 0);
  }
  25% {
    transform: rotate(0) translate(0, -20px);
  }
  50% {
    transform: rotate(0) translate(0, 0);
  }
  75% {
    transform: rotate(-3deg) translate(-8px, 20px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes showLeafGreen {
  0% {
    opacity: 0;
    transform: rotate(-25deg) translate(-6px, -82px);
  }
  30% {
    transform: rotate(17deg) translate(22px, 55px);
  }
  50% {
    transform: rotate(-10deg) translate(-7px, -33px);
  }
  70% {
    transform: rotate(7deg) translate(7px, 24px);
  }
  80% {
    transform: rotate(-6deg) translate(-7px, -19px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes showLeafBlue1 {
  0% {
    opacity: 0;
    transform: rotate(-25deg) translate(-16px, -58px);
  }
  20% {
    transform: rotate(25deg) translate(39px, 48px);
  }
  40% {
    transform: rotate(-20deg) translate(-15px, -47px);
  }
  60% {
    transform: rotate(10deg) translate(13px, 19px);
  }
  80% {
    transform: rotate(-10deg) translate(-7px, -21px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes showLeafBlue2 {
  0% {
    opacity: 0;
  }
  20% {
    transform: rotate(-20deg) translate(-2px, 50px);
  }
  40% {
    transform: rotate(10deg) translate(-4px, -23px);
  }
  60% {
    transform: rotate(-10deg) translate(-1px, 20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  p {
    opacity: 0;
    transition: opacity 0.7s;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.screen.screen--show {
  .result__button {
    p {
      opacity: 1;
    }

    span {
      animation: showRoundButtonRight 0.5s ease backwards;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
